<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<!-- The filter doesn't work without the annotation webFilter(..) -->
	<filter>
		<filter-name>SiteHitCounter</filter-name>
		<filter-class>es.test.servletpruebas.SiteHitCounter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SiteHitCounter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- <filter> <filter-name>LogFilter</filter-name> <filter-class>LogFilter</filter-class> 
		<init-param> <param-name>test-param</param-name> <param-value>Initialization 
		Paramter</param-value> </init-param> </filter> <filter-mapping> <filter-name>LogFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			c:\Program Files\Apache Software Foundation\Tomcat 9.0\webapps\
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<!-- the right way to publish your Servlet without annotation WebServlet -->
		<servlet-class>es.test.servletpruebas.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Refresh</servlet-name>
		<servlet-class>es.test.servletpruebas.Refresh</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Refresh</servlet-name>
		<url-pattern>/Refresh</url-pattern>
	</servlet-mapping>

</web-app>

