<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- valores que se cargan en el web.xml-->
    <context-param>
        <param-name>max-shopping-cart-size</param-name>
        <param-value>99</param-value>
    </context-param>
    <servlet>
        <servlet-name>HandleResponseStudent</servlet-name>
        <servlet-class>com.serlvletdemo.HandleResponseStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleResponseStudent</servlet-name>
        <url-pattern>/HandleResponseStudent</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
